@charset "utf-8";

/* 글래어 ExtraBold */
@font-face {
  font-family: "PPFragment-GlareExtraBold";
  src: url("../../fonts/PPFragment-GlareExtraBold.woff2") format("woff2");
}

/* 글래어 Light */
@font-face {
  font-family: "PPFragment-GlareLight";
  src: url("../../fonts/PPFragment-GlareLight.woff2") format("woff2");
}

/* 글래어 Regular */
@font-face {
  font-family: "PPFragment-GlareRegular";
  src: url("../../fonts/PPFragment-GlareRegular.woff2") format("woff2");
}

/* 산스 ExtraBold */
@font-face {
  font-family: "PPFragment-SansExtraBold";
  src: url("../../fonts/PPFragment-SansExtraBold.woff2") format("woff2");
}

/* 산스 Light */
@font-face {
  font-family: "PPFragment-SansLight";
  src: url("../../fonts/PPFragment-SansLight.woff2") format("woff2");
}

/* 산스 Regular */
@font-face {
  font-family: "PPFragment-SansRegular";
  src: url("../../fonts/PPFragment-SansRegular.woff2") format("woff2");
}

/* 세리프 ExtraBold */
@font-face {
  font-family: "PPFragment-SerifExtraBold";
  src: url("../../fonts/PPFragment-SerifExtraBold.woff2") format("woff2");
}

/* 세리프 Light */
@font-face {
  font-family: "PPFragment-SerifLight";
  src: url("../../fonts/PPFragment-SerifLight.woff2") format("woff2");
}

/* 세리프 Regular */
@font-face {
  font-family: "PPFragment-SerifRegular";
  src: url("../../fonts/PPFragment-SerifRegular.woff2") format("woff2");
}

/* 텍스트 Regular */
@font-face {
  font-family: "PPFragment-TextRegular";
  src: url("../../fonts/PPFragment-TextRegular.woff2") format("woff2");
}
