@charset "UTF-8";
/* 글래어 ExtraBold */
@font-face {
  font-family: "PPFragment-GlareExtraBold";
  src: url("../../fonts/PPFragment-GlareExtraBold.woff2") format("woff2");
}
/* 글래어 Light */
@font-face {
  font-family: "PPFragment-GlareLight";
  src: url("../../fonts/PPFragment-GlareLight.woff2") format("woff2");
}
/* 글래어 Regular */
@font-face {
  font-family: "PPFragment-GlareRegular";
  src: url("../../fonts/PPFragment-GlareRegular.woff2") format("woff2");
}
/* 산스 ExtraBold */
@font-face {
  font-family: "PPFragment-SansExtraBold";
  src: url("../../fonts/PPFragment-SansExtraBold.woff2") format("woff2");
}
/* 산스 Light */
@font-face {
  font-family: "PPFragment-SansLight";
  src: url("../../fonts/PPFragment-SansLight.woff2") format("woff2");
}
/* 산스 Regular */
@font-face {
  font-family: "PPFragment-SansRegular";
  src: url("../../fonts/PPFragment-SansRegular.woff2") format("woff2");
}
/* 세리프 ExtraBold */
@font-face {
  font-family: "PPFragment-SerifExtraBold";
  src: url("../../fonts/PPFragment-SerifExtraBold.woff2") format("woff2");
}
/* 세리프 Light */
@font-face {
  font-family: "PPFragment-SerifLight";
  src: url("../../fonts/PPFragment-SerifLight.woff2") format("woff2");
}
/* 세리프 Regular */
@font-face {
  font-family: "PPFragment-SerifRegular";
  src: url("../../fonts/PPFragment-SerifRegular.woff2") format("woff2");
}
/* 텍스트 Regular */
@font-face {
  font-family: "PPFragment-TextRegular";
  src: url("../../fonts/PPFragment-TextRegular.woff2") format("woff2");
}
/* 기본 폰트 설정 */
html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-size: 1.7rem;
  line-height: 1.5;
  font-family: "Pretendard", sans-serif;
  color: #111111;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #111111;
  text-decoration: none !important;
}
a:active, a:hover {
  text-decoration: underline;
}

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

img,
video {
  max-width: 100%;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #e0e0e0;
  appearance: checkbox;
}

button {
  appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  appearance: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

#skip-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2000;
}
#skip-nav a {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 1.4rem;
  transition: top 0.3s ease-in-out;
}
#skip-nav a:focus {
  top: 0;
}

.intro-wrapper {
  width: 100%;
  height: 100vh;
  background-color: #111111;
}

.intro {
  width: 100%;
  height: 100vh;
  background-color: #111111;
  padding-top: 80px;
  box-sizing: border-box;
}

.ha-wrapper {
  position: relative;
  background-color: #111111;
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: #fbf0da;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  width: 100%;
  height: 100vh;
  background-color: #111111;
}
@media (max-width: 499px) {
  .about {
    height: auto;
    padding: 0 0 30px;
  }
}

.about-motion {
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  width: 100%;
  height: 100vh;
  background-color: #fbf0da;
}

.bokjak,
.popmart,
.gucci,
.hanatour {
  width: 100%;
  height: 100vh;
}

.contact-section-wrapper {
  position: relative;
  background-color: #111111;
}

.contact-intro {
  width: 100%;
  height: 100vh;
}

.contact-details {
  width: 100%;
  height: 100vh;
  background-color: #111111;
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1820px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 600px) and (max-width: 999px) {
  .inner {
    padding: 0 30px;
  }
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .inner {
    padding: 0 40px;
  }
}
@media (min-width: 1920px) {
  .inner {
    padding: 0 60px;
  }
}

.intro-wrapper {
  position: relative;
  overflow: hidden;
}
.intro-wrapper.open .left-door {
  transform: translateX(-100%) !important;
  background-color: #fbf0da;
}
.intro-wrapper.open .right-door {
  transform: translateX(100%) !important;
  background-color: #fbf0da;
}
.intro-wrapper.open .intro {
  opacity: 1;
}
.intro-wrapper .door {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50vw;
  background: #111;
  z-index: 1500;
  transition: transform 1.5s ease;
}
.intro-wrapper .door.left-door {
  left: 0;
  transform-origin: left center;
  transform: translateX(0);
}
.intro-wrapper .door.right-door {
  right: 0;
  transform-origin: right center;
  transform: translateX(0);
}

.intro {
  opacity: 0;
  transition: opacity 1s ease 1.5s;
}
.intro .intro-content {
  display: flex;
  padding: 40rem 0 0;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .intro .intro-content {
    padding: 45rem 0 0;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .intro .intro-content {
    padding: 47rem 0 0;
  }
}
@media (max-width: 599px) {
  .intro .intro-content {
    padding: 55rem 0 0;
  }
}
.intro .title-wrap h2 {
  color: #fbf0da;
  font-size: 35rem;
  font-family: "PPFragment-GlareRegular", sans-serif;
  font-weight: 500;
  line-height: 1;
  overflow: hidden;
  letter-spacing: -5px;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .intro .title-wrap h2 {
    font-size: 28rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .intro .title-wrap h2 {
    font-size: 18rem;
  }
}
@media (max-width: 599px) {
  .intro .title-wrap h2 {
    font-size: 10rem;
  }
}
.intro .content-wrap {
  transform: translateY(-20px) translateX(60px);
}
@media (max-width: 599px) {
  .intro .content-wrap {
    transform: translateY(-20px) translateX(20px);
  }
}
.intro .content-wrap h3 {
  font-size: 6rem;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .intro .content-wrap h3 {
    font-size: 4.6rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .intro .content-wrap h3 {
    font-size: 3.6rem;
  }
}
@media (max-width: 599px) {
  .intro .content-wrap h3 {
    font-size: 3rem;
  }
}
.intro .content-wrap p {
  font-size: 1.6rem;
  color: #fbf0da;
  opacity: 0;
  transform: translateY(20px);
}
@media (min-width: 600px) and (max-width: 999px) {
  .intro .content-wrap p {
    font-size: 1.5rem;
  }
}
@media (max-width: 599px) {
  .intro .content-wrap p {
    font-size: 1.3rem;
  }
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
.hero h2 {
  font-size: 20rem;
  font-family: "PPFragment-GlareRegular", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -10px;
  transform: translateY(20px);
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .hero h2 {
    font-size: 15rem;
    line-height: 1.5;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .hero h2 {
    font-size: 10rem;
  }
}
@media (max-width: 599px) {
  .hero h2 {
    font-size: 6rem;
    line-height: 1.8;
    letter-spacing: -4px;
  }
}
.hero .hero-title {
  display: flex;
}
.hero .hero-subtitle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.hero .hero-subtitle .hero-line {
  width: 700px;
  height: 140px;
  background: #111111;
  transition: all 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  z-index: 60;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .hero .hero-subtitle .hero-line {
    height: 100px;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .hero .hero-subtitle .hero-line {
    height: 80px;
  }
}
@media (max-width: 599px) {
  .hero .hero-subtitle .hero-line {
    height: 50px;
  }
}
.hero .hero-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .hero .hero-content {
    justify-content: space-around;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .hero .hero-content {
    justify-content: space-between;
  }
}
@media (max-width: 599px) {
  .hero .hero-content {
    justify-content: center;
  }
}
.hero .hero-content .hero-highlight {
  transform: translateX(30px);
}
@media (min-width: 1400px) and (max-width: 1919px) {
  .hero .hero-content .hero-description {
    transform: translateX(-80px) translateY(-40px);
  }
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .hero .hero-content .hero-description {
    font-size: 1.5rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .hero .hero-content .hero-description {
    font-size: 1.3rem;
  }
}
@media (max-width: 599px) {
  .hero .hero-content .hero-description {
    display: none;
  }
}

.about .about-title h2 {
  font-family: "PPFragment-GlareRegular", sans-serif;
  font-weight: 500;
  color: #fbf0da;
  font-size: 13rem;
  line-height: 270px;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .about .about-title h2 {
    font-size: 10rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .about .about-title h2 {
    font-size: 9rem;
    line-height: 200px;
  }
}
@media (max-width: 599px) {
  .about .about-title h2 {
    font-size: 5rem;
    line-height: 150px;
  }
}
@media (max-width: 499px) {
  .about .about-title h2 {
    line-height: 120px;
  }
}
.about .about-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 499px) {
  .about .about-content {
    flex-direction: column;
  }
}
.about .about-content .profile-image {
  width: auto;
  height: 560px;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .about .about-content .profile-image {
    height: 450px;
    margin-right: 30px;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .about .about-content .profile-image {
    height: 400px;
    margin-right: 20px;
  }
}
@media (max-width: 599px) {
  .about .about-content .profile-image {
    height: 300px;
    margin-right: 20px;
  }
}
@media (max-width: 499px) {
  .about .about-content .profile-image {
    width: 180px;
    height: auto;
    margin-bottom: 20px;
  }
}
.about .about-content .about-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 100px;
  margin-top: 50px;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .about .about-content .about-info {
    column-gap: 50px;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .about .about-content .about-info {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 20px;
  }
}
@media (max-width: 599px) {
  .about .about-content .about-info {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 20px;
  }
}
.about .about-content .about-info h3 {
  font-size: 2.3rem;
  color: #fbf0da;
  margin-bottom: 20px;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .about .about-content .about-info h3 {
    font-size: 2rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .about .about-content .about-info h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 599px) {
  .about .about-content .about-info h3 {
    font-size: 1.8rem;
  }
}
.about .about-content .about-info .profile-info .info-item,
.about .about-content .about-info .education-info .info-item,
.about .about-content .about-info .license-info .info-item {
  display: flex;
  border-bottom: 1px solid #2c2c2c;
  justify-content: space-between;
  align-items: center;
}
.about .about-content .about-info .profile-info .info-item .info-label,
.about .about-content .about-info .education-info .info-item .info-label,
.about .about-content .about-info .license-info .info-item .info-label {
  font-size: 1.6rem;
  color: #757575;
  margin-right: 30px;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .about .about-content .about-info .profile-info .info-item .info-label,
  .about .about-content .about-info .education-info .info-item .info-label,
  .about .about-content .about-info .license-info .info-item .info-label {
    font-size: 1.4rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .about .about-content .about-info .profile-info .info-item .info-label,
  .about .about-content .about-info .education-info .info-item .info-label,
  .about .about-content .about-info .license-info .info-item .info-label {
    font-size: 1.2rem;
  }
}
@media (max-width: 599px) {
  .about .about-content .about-info .profile-info .info-item .info-label,
  .about .about-content .about-info .education-info .info-item .info-label,
  .about .about-content .about-info .license-info .info-item .info-label {
    font-size: 1.2rem;
  }
}
.about .about-content .about-info .profile-info .info-item .info-value,
.about .about-content .about-info .education-info .info-item .info-value,
.about .about-content .about-info .license-info .info-item .info-value {
  font-size: 1.8rem;
  color: #f5f5f5;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .about .about-content .about-info .profile-info .info-item .info-value,
  .about .about-content .about-info .education-info .info-item .info-value,
  .about .about-content .about-info .license-info .info-item .info-value {
    font-size: 1.6rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .about .about-content .about-info .profile-info .info-item .info-value,
  .about .about-content .about-info .education-info .info-item .info-value,
  .about .about-content .about-info .license-info .info-item .info-value {
    font-size: 1.4rem;
  }
}
@media (max-width: 599px) {
  .about .about-content .about-info .profile-info .info-item .info-value,
  .about .about-content .about-info .education-info .info-item .info-value,
  .about .about-content .about-info .license-info .info-item .info-value {
    font-size: 1.4rem;
  }
}
.about .about-content .about-info .skills-info .skills-list {
  margin-bottom: 10px;
}
.about .about-content .about-info .skills-info .skills-list,
.about .about-content .about-info .skills-info .skills-list2 {
  display: flex;
}
.about .about-content .about-info .skills-info img {
  display: block;
  margin-right: 10px;
}
.about .about-content .about-info .skills-info .skill-icon {
  position: relative;
  cursor: pointer;
}
.about .about-content .about-info .skills-info .skill-icon:hover .icon-color {
  opacity: 1;
}
.about .about-content .about-info .skills-info .skill-icon:hover .icon-dark {
  opacity: 0;
}
.about .about-content .about-info .skills-info .icon-color,
.about .about-content .about-info .skills-info .icon-dark {
  transition: opacity 0.3s ease;
}
.about .about-content .about-info .skills-info .icon-color {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.skills {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;
}
.skills .skills-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  height: 100vh;
}
@media (min-width: 600px) and (max-width: 999px) {
  .skills .skills-container {
    flex-direction: column;
  }
}
@media (max-width: 599px) {
  .skills .skills-container {
    flex-direction: column;
  }
}
.skills .section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PPFragment-GlareRegular", sans-serif;
  font-weight: 500;
  color: #111111;
  font-size: 13rem;
  line-height: 270px;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .skills .section-title {
    font-size: 10rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .skills .section-title {
    font-size: 9rem;
    line-height: 200px;
  }
}
@media (max-width: 599px) {
  .skills .section-title {
    font-size: 5rem;
    line-height: 150px;
  }
}
.skills .fade {
  position: absolute;
  left: 0;
  width: 100%;
  height: 120px;
  pointer-events: none;
  z-index: 10;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .skills .fade {
    height: 100px;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .skills .fade {
    height: 60px;
  }
}
@media (max-width: 599px) {
  .skills .fade {
    height: 40px;
  }
}
.skills .fade.fade-top {
  top: 0;
  background: linear-gradient(to bottom, #fbf0da 0%, rgba(251, 240, 218, 0.8) 60%, rgba(251, 240, 218, 0) 100%);
}
.skills .fade.fade-bottom {
  bottom: 0;
  background: linear-gradient(to top, #fbf0da 0%, rgba(251, 240, 218, 0.8) 60%, rgba(251, 240, 218, 0) 100%);
}
.skills .skills-list {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  gap: 20px 40px;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .skills .skills-list {
    gap: 15px;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .skills .skills-list {
    gap: 20px;
    justify-content: center;
  }
}
@media (max-width: 599px) {
  .skills .skills-list {
    gap: 15px;
    justify-content: center;
  }
}
.skills .skills-list .skill-item,
.skills .skills-list .skill-item2,
.skills .skills-list .skill-item3 {
  display: flex;
  flex-direction: column;
}
.skills .skills-list .skill-item .skill-chart,
.skills .skills-list .skill-item2 .skill-chart,
.skills .skills-list .skill-item3 .skill-chart {
  position: relative;
  background-color: #111111;
  width: 280px;
  height: 260px;
  margin-bottom: 30px;
  border-radius: 10px;
  color: #ffffff;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .skills .skills-list .skill-item .skill-chart,
  .skills .skills-list .skill-item2 .skill-chart,
  .skills .skills-list .skill-item3 .skill-chart {
    width: 200px;
    height: 225px;
    margin-bottom: 20px;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .skills .skills-list .skill-item .skill-chart,
  .skills .skills-list .skill-item2 .skill-chart,
  .skills .skills-list .skill-item3 .skill-chart {
    width: 180px;
    height: 210px;
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .skills .skills-list .skill-item .skill-chart,
  .skills .skills-list .skill-item2 .skill-chart,
  .skills .skills-list .skill-item3 .skill-chart {
    width: 130px;
    height: 190px;
    margin-bottom: 15px;
  }
}
.skills .skills-list .skill-item .skill-chart svg,
.skills .skills-list .skill-item2 .skill-chart svg,
.skills .skills-list .skill-item3 .skill-chart svg {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.skills .skills-list .skill-item .skill-chart svg circle,
.skills .skills-list .skill-item2 .skill-chart svg circle,
.skills .skills-list .skill-item3 .skill-chart svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: rgba(255, 255, 255, 0.1);
  transform: translate(5px, 5px);
  stroke-linecap: round;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .skills .skills-list .skill-item .skill-chart svg circle,
  .skills .skills-list .skill-item2 .skill-chart svg circle,
  .skills .skills-list .skill-item3 .skill-chart svg circle {
    scale: 0.9;
    transform-origin: center;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .skills .skills-list .skill-item .skill-chart svg circle,
  .skills .skills-list .skill-item2 .skill-chart svg circle,
  .skills .skills-list .skill-item3 .skill-chart svg circle {
    scale: 0.8;
    transform-origin: center;
  }
}
@media (max-width: 599px) {
  .skills .skills-list .skill-item .skill-chart svg circle,
  .skills .skills-list .skill-item2 .skill-chart svg circle,
  .skills .skills-list .skill-item3 .skill-chart svg circle {
    scale: 0.7;
    transform-origin: center;
  }
}
.skills .skills-list .skill-item .skill-chart .skill-percentage,
.skills .skills-list .skill-item2 .skill-chart .skill-percentage,
.skills .skills-list .skill-item3 .skill-chart .skill-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 230%);
}
.skills .skills-list .skill-item .skill-chart .skill-percentage h2,
.skills .skills-list .skill-item2 .skill-chart .skill-percentage h2,
.skills .skills-list .skill-item3 .skill-chart .skill-percentage h2 {
  font-size: 2.5rem;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .skills .skills-list .skill-item .skill-chart .skill-percentage h2,
  .skills .skills-list .skill-item2 .skill-chart .skill-percentage h2,
  .skills .skills-list .skill-item3 .skill-chart .skill-percentage h2 {
    font-size: 2.3rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .skills .skills-list .skill-item .skill-chart .skill-percentage h2,
  .skills .skills-list .skill-item2 .skill-chart .skill-percentage h2,
  .skills .skills-list .skill-item3 .skill-chart .skill-percentage h2 {
    font-size: 2rem;
  }
}
@media (max-width: 599px) {
  .skills .skills-list .skill-item .skill-chart .skill-percentage h2,
  .skills .skills-list .skill-item2 .skill-chart .skill-percentage h2,
  .skills .skills-list .skill-item3 .skill-chart .skill-percentage h2 {
    font-size: 1.8rem;
  }
}
.skills .skills-list .skill-item .skill-chart .skill-percentage span,
.skills .skills-list .skill-item2 .skill-chart .skill-percentage span,
.skills .skills-list .skill-item3 .skill-chart .skill-percentage span {
  font-size: 1.5rem;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .skills .skills-list .skill-item .skill-chart .skill-percentage span,
  .skills .skills-list .skill-item2 .skill-chart .skill-percentage span,
  .skills .skills-list .skill-item3 .skill-chart .skill-percentage span {
    font-size: 1.3rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .skills .skills-list .skill-item .skill-chart .skill-percentage span,
  .skills .skills-list .skill-item2 .skill-chart .skill-percentage span,
  .skills .skills-list .skill-item3 .skill-chart .skill-percentage span {
    font-size: 1.2rem;
  }
}
@media (max-width: 599px) {
  .skills .skills-list .skill-item .skill-chart .skill-percentage span,
  .skills .skills-list .skill-item2 .skill-chart .skill-percentage span,
  .skills .skills-list .skill-item3 .skill-chart .skill-percentage span {
    font-size: 1.1rem;
  }
}
.skills .skills-list .skill-item .skill-chart .skill-name,
.skills .skills-list .skill-item2 .skill-chart .skill-name,
.skills .skills-list .skill-item3 .skill-chart .skill-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .skills .skills-list .skill-item .skill-chart .skill-name,
  .skills .skills-list .skill-item2 .skill-chart .skill-name,
  .skills .skills-list .skill-item3 .skill-chart .skill-name {
    font-size: 2.6rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .skills .skills-list .skill-item .skill-chart .skill-name,
  .skills .skills-list .skill-item2 .skill-chart .skill-name,
  .skills .skills-list .skill-item3 .skill-chart .skill-name {
    font-size: 2rem;
  }
}
@media (max-width: 599px) {
  .skills .skills-list .skill-item .skill-chart .skill-name,
  .skills .skills-list .skill-item2 .skill-chart .skill-name,
  .skills .skills-list .skill-item3 .skill-chart .skill-name {
    font-size: 1.8rem;
  }
}
.skills .skills-list .skill-item .skill-chart circle:nth-child(2),
.skills .skills-list .skill-item2 .skill-chart circle:nth-child(2),
.skills .skills-list .skill-item3 .skill-chart circle:nth-child(2) {
  stroke: yellow;
  stroke-dasharray: 440px;
  stroke-dashoffset: 440px;
}
.skills .skills-list .skill-item .skill-chart.percent-90 circle:nth-child(2),
.skills .skills-list .skill-item2 .skill-chart.percent-90 circle:nth-child(2),
.skills .skills-list .skill-item3 .skill-chart.percent-90 circle:nth-child(2) {
  stroke-dashoffset: 44px;
}
.skills .skills-list .skill-item .skill-chart.percent-70 circle:nth-child(2),
.skills .skills-list .skill-item2 .skill-chart.percent-70 circle:nth-child(2),
.skills .skills-list .skill-item3 .skill-chart.percent-70 circle:nth-child(2) {
  stroke-dashoffset: 132px;
}
.skills .skills-list .skill-item .skill-chart.percent-65 circle:nth-child(2),
.skills .skills-list .skill-item2 .skill-chart.percent-65 circle:nth-child(2),
.skills .skills-list .skill-item3 .skill-chart.percent-65 circle:nth-child(2) {
  stroke-dashoffset: 154px;
}
.skills .skills-list .skill-item .skill-chart.percent-75 circle:nth-child(2),
.skills .skills-list .skill-item2 .skill-chart.percent-75 circle:nth-child(2),
.skills .skills-list .skill-item3 .skill-chart.percent-75 circle:nth-child(2) {
  stroke-dashoffset: 110px;
}
.skills .skills-list .skill-item,
.skills .skills-list .skill-item3 {
  animation: skill-item 40s linear infinite;
}
.skills .skills-list .skill-item2 {
  animation: skill-item2 40s linear infinite;
}
@keyframes skill-item {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-50%);
  }
}
@keyframes skill-item2 {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}

.about-motion {
  background: #fff;
  padding: 10rem 2rem;
  text-align: center;
  perspective: 1000px;
}
.about-motion .about-motion-title h2 {
  display: inline-block;
  font-family: "PPFragment-GlareRegular", sans-serif;
  font-size: 9rem;
  font-weight: bold;
  line-height: 1.8;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .about-motion .about-motion-title h2 {
    font-size: 7rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .about-motion .about-motion-title h2 {
    font-size: 6rem;
  }
}
@media (max-width: 599px) {
  .about-motion .about-motion-title h2 {
    font-size: 5rem;
  }
}
.about-motion .letter {
  display: inline-block;
  opacity: 0;
  transform: translateZ(-1500px) scale(0.1) rotateY(0deg);
  transform-origin: center center;
  will-change: transform, opacity;
  transform-style: preserve-3d;
}

.gucci {
  background-size: cover;
  background-position: center;
}

.bokjak,
.popmart,
.hanatour {
  background-size: cover;
  background-position: center;
}

.bokjak,
.popmart,
.gucci,
.hanatour {
  color: #ffffff;
  padding: 100px 0;
}
.bokjak .inner,
.popmart .inner,
.gucci .inner,
.hanatour .inner {
  display: flex;
  justify-content: space-between;
}
.bokjak .project-description,
.popmart .project-description,
.gucci .project-description,
.hanatour .project-description {
  padding-top: 250px;
}
.bokjak .project-description .project-type,
.popmart .project-description .project-type,
.gucci .project-description .project-type,
.hanatour .project-description .project-type {
  font-size: 2.3rem;
  font-weight: 400;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .bokjak .project-description .project-type,
  .popmart .project-description .project-type,
  .gucci .project-description .project-type,
  .hanatour .project-description .project-type {
    font-size: 2rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .bokjak .project-description .project-type,
  .popmart .project-description .project-type,
  .gucci .project-description .project-type,
  .hanatour .project-description .project-type {
    font-size: 1.8rem;
  }
}
@media (max-width: 599px) {
  .bokjak .project-description .project-type,
  .popmart .project-description .project-type,
  .gucci .project-description .project-type,
  .hanatour .project-description .project-type {
    font-size: 1.6rem;
  }
}
.bokjak .project-description .project-title,
.popmart .project-description .project-title,
.gucci .project-description .project-title,
.hanatour .project-description .project-title {
  font-family: "PPFragment-GlareRegular", sans-serif;
  letter-spacing: -5px;
  font-size: 10rem;
  font-weight: 500;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .bokjak .project-description .project-title,
  .popmart .project-description .project-title,
  .gucci .project-description .project-title,
  .hanatour .project-description .project-title {
    font-size: 8rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .bokjak .project-description .project-title,
  .popmart .project-description .project-title,
  .gucci .project-description .project-title,
  .hanatour .project-description .project-title {
    font-size: 6rem;
  }
}
@media (max-width: 599px) {
  .bokjak .project-description .project-title,
  .popmart .project-description .project-title,
  .gucci .project-description .project-title,
  .hanatour .project-description .project-title {
    font-size: 5rem;
  }
}
.bokjak .project-description .contribution,
.popmart .project-description .contribution,
.gucci .project-description .contribution,
.hanatour .project-description .contribution {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .bokjak .project-description .contribution,
  .popmart .project-description .contribution,
  .gucci .project-description .contribution,
  .hanatour .project-description .contribution {
    font-size: 2.3rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .bokjak .project-description .contribution,
  .popmart .project-description .contribution,
  .gucci .project-description .contribution,
  .hanatour .project-description .contribution {
    font-size: 2.1rem;
  }
}
@media (max-width: 599px) {
  .bokjak .project-description .contribution,
  .popmart .project-description .contribution,
  .gucci .project-description .contribution,
  .hanatour .project-description .contribution {
    font-size: 2rem;
  }
}
.bokjak .project-description .contribution span,
.popmart .project-description .contribution span,
.gucci .project-description .contribution span,
.hanatour .project-description .contribution span {
  font-size: 3rem;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .bokjak .project-description .contribution span,
  .popmart .project-description .contribution span,
  .gucci .project-description .contribution span,
  .hanatour .project-description .contribution span {
    font-size: 2.8rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .bokjak .project-description .contribution span,
  .popmart .project-description .contribution span,
  .gucci .project-description .contribution span,
  .hanatour .project-description .contribution span {
    font-size: 2.4rem;
  }
}
@media (max-width: 599px) {
  .bokjak .project-description .contribution span,
  .popmart .project-description .contribution span,
  .gucci .project-description .contribution span,
  .hanatour .project-description .contribution span {
    font-size: 2.2rem;
  }
}
.bokjak .project-description .project-summary,
.popmart .project-description .project-summary,
.gucci .project-description .project-summary,
.hanatour .project-description .project-summary {
  width: 60%;
  margin-bottom: 30px;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .bokjak .project-description .project-summary,
  .popmart .project-description .project-summary,
  .gucci .project-description .project-summary,
  .hanatour .project-description .project-summary {
    font-size: 1.5rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .bokjak .project-description .project-summary,
  .popmart .project-description .project-summary,
  .gucci .project-description .project-summary,
  .hanatour .project-description .project-summary {
    font-size: 1.5rem;
  }
}
@media (max-width: 599px) {
  .bokjak .project-description .project-summary,
  .popmart .project-description .project-summary,
  .gucci .project-description .project-summary,
  .hanatour .project-description .project-summary {
    font-size: 1.3rem;
  }
}
.bokjak .project-description .view-project-button,
.popmart .project-description .view-project-button,
.gucci .project-description .view-project-button,
.hanatour .project-description .view-project-button {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 20px;
}
.bokjak .project-description .view-project-button:hover,
.popmart .project-description .view-project-button:hover,
.gucci .project-description .view-project-button:hover,
.hanatour .project-description .view-project-button:hover {
  color: yellow;
}
.bokjak .project-description .view-project-button:hover span,
.popmart .project-description .view-project-button:hover span,
.gucci .project-description .view-project-button:hover span,
.hanatour .project-description .view-project-button:hover span {
  border: 2px solid yellow;
}
.bokjak .project-description .view-project-button span,
.popmart .project-description .view-project-button span,
.gucci .project-description .view-project-button span,
.hanatour .project-description .view-project-button span {
  border: 2px solid #ffffff;
  padding: 5px 20px;
  border-radius: 40px;
  font-size: 3rem;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .bokjak .project-description .view-project-button span,
  .popmart .project-description .view-project-button span,
  .gucci .project-description .view-project-button span,
  .hanatour .project-description .view-project-button span {
    font-size: 2.8rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .bokjak .project-description .view-project-button span,
  .popmart .project-description .view-project-button span,
  .gucci .project-description .view-project-button span,
  .hanatour .project-description .view-project-button span {
    font-size: 2.4rem;
  }
}
@media (max-width: 599px) {
  .bokjak .project-description .view-project-button span,
  .popmart .project-description .view-project-button span,
  .gucci .project-description .view-project-button span,
  .hanatour .project-description .view-project-button span {
    font-size: 2rem;
  }
}
.bokjak .project-description .renewal,
.popmart .project-description .renewal,
.gucci .project-description .renewal,
.hanatour .project-description .renewal {
  color: red;
}
.bokjak .project-description .renewal:hover,
.popmart .project-description .renewal:hover,
.gucci .project-description .renewal:hover,
.hanatour .project-description .renewal:hover {
  color: yellow;
}
.bokjak .project-description .renewal:hover span,
.popmart .project-description .renewal:hover span,
.gucci .project-description .renewal:hover span,
.hanatour .project-description .renewal:hover span {
  border: 2px solid yellow;
}
.bokjak .project-description .renewal p,
.popmart .project-description .renewal p,
.gucci .project-description .renewal p,
.hanatour .project-description .renewal p {
  display: inline;
  color: #ffffff;
}
.bokjak .project-progress span,
.popmart .project-progress span,
.gucci .project-progress span,
.hanatour .project-progress span {
  font-size: 3.5rem;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .bokjak .project-progress span,
  .popmart .project-progress span,
  .gucci .project-progress span,
  .hanatour .project-progress span {
    font-size: 3.3rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .bokjak .project-progress span,
  .popmart .project-progress span,
  .gucci .project-progress span,
  .hanatour .project-progress span {
    font-size: 3rem;
  }
}
@media (max-width: 599px) {
  .bokjak .project-progress span,
  .popmart .project-progress span,
  .gucci .project-progress span,
  .hanatour .project-progress span {
    font-size: 2dvh;
  }
}
.bokjak .project-progress span .point,
.popmart .project-progress span .point,
.gucci .project-progress span .point,
.hanatour .project-progress span .point {
  font-size: 5rem;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .bokjak .project-progress span .point,
  .popmart .project-progress span .point,
  .gucci .project-progress span .point,
  .hanatour .project-progress span .point {
    font-size: 4.6rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .bokjak .project-progress span .point,
  .popmart .project-progress span .point,
  .gucci .project-progress span .point,
  .hanatour .project-progress span .point {
    font-size: 4rem;
  }
}
@media (max-width: 599px) {
  .bokjak .project-progress span .point,
  .popmart .project-progress span .point,
  .gucci .project-progress span .point,
  .hanatour .project-progress span .point {
    font-size: 3.6rem;
  }
}

.project-sections {
  position: relative;
}
.project-sections .bokjak {
  background-image: url("../../images/component/project/bokjak.png");
  z-index: 2;
}
.project-sections .popmart {
  background-image: url("../../images/component/project/popmart.png");
  z-index: 3;
}
.project-sections .gucci {
  background-image: url("../../images/component/project/gucci.png");
  z-index: 4;
}
.project-sections .hanatour {
  background-image: url("../../images/component/project/hanatour.png");
  z-index: 5;
}
.project-sections .bokjak,
.project-sections .popmart,
.project-sections .gucci,
.project-sections .hanatour {
  position: sticky;
  top: 0;
}

.contact-intro {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 50;
  transition: opacity 0.5s ease;
  opacity: 1;
}
.contact-intro .contact-img-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: transform 2s ease;
}
.contact-intro .contact-img-wrapper.opened {
  pointer-events: none;
}
.contact-intro .contact-img,
.contact-intro .me-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  transform: translateY(0);
  transition: transform 2s ease;
}
.contact-intro .contact-img-wrapper.split .contact-img {
  transform: translateY(-100%);
  transition: transform 2s ease;
}
.contact-intro .contact-img-wrapper.split .me-img {
  transform: translateY(100%);
  transition: transform 2s ease;
}

.contact-intro.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.contact-details {
  position: relative;
  z-index: 1;
  color: #ffffff;
}
.contact-details .contact-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 50px;
}
@media (min-width: 600px) and (max-width: 999px) {
  .contact-details .contact-wrapper {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .contact-details .contact-wrapper {
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.contact-details .contact-wrapper .contact-direct {
  font-size: 4.5rem;
  font-weight: 400;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .contact-details .contact-wrapper .contact-direct {
    font-size: 4rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .contact-details .contact-wrapper .contact-direct {
    font-size: 3rem;
  }
}
@media (max-width: 599px) {
  .contact-details .contact-wrapper .contact-direct {
    font-size: 2.8rem;
  }
}
.contact-details .contact-wrapper .contact-direct .contact-thanks {
  margin-top: 30px;
  line-height: 0.8;
}
.contact-details .contact-wrapper .contact-info {
  width: 35%;
  margin-top: 30px;
}
@media (min-width: 600px) and (max-width: 999px) {
  .contact-details .contact-wrapper .contact-info {
    width: 60%;
  }
}
@media (max-width: 599px) {
  .contact-details .contact-wrapper .contact-info {
    width: 60%;
  }
}
@media (max-width: 499px) {
  .contact-details .contact-wrapper .contact-info {
    width: 70%;
  }
}
.contact-details .contact-wrapper .contact-info .info-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #555555;
  margin-bottom: 10px;
}
.contact-details .contact-wrapper .contact-info .info-item .info-label {
  font-size: 2.6rem;
  color: #757575;
  margin-right: 20px;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .contact-details .contact-wrapper .contact-info .info-item .info-label {
    font-size: 2.4rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .contact-details .contact-wrapper .contact-info .info-item .info-label {
    font-size: 2.2rem;
  }
}
@media (max-width: 599px) {
  .contact-details .contact-wrapper .contact-info .info-item .info-label {
    font-size: 2rem;
  }
}
.contact-details .contact-wrapper .contact-info .info-item .info-value {
  font-size: 2.8rem;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .contact-details .contact-wrapper .contact-info .info-item .info-value {
    font-size: 2.4rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .contact-details .contact-wrapper .contact-info .info-item .info-value {
    font-size: 2rem;
  }
}
@media (max-width: 599px) {
  .contact-details .contact-wrapper .contact-info .info-item .info-value {
    font-size: 1.8rem;
  }
}
.contact-details a {
  position: relative;
  display: flex;
  color: yellow;
  font-size: 3rem;
}
@media (min-width: 600px) and (max-width: 999px) {
  .contact-details a {
    font-size: 2.6rem;
  }
}
@media (max-width: 599px) {
  .contact-details a {
    font-size: 2.4rem;
  }
}
.contact-details a .text-wrapper {
  position: relative;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  height: 100%;
  pointer-events: none;
}
.contact-details a .text-top,
.contact-details a .text-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  pointer-events: auto;
}
.contact-details a .text-top {
  transform: translateY(0);
  opacity: 1;
}
.contact-details a .text-bottom {
  transform: translateY(100%);
  opacity: 0;
}
.contact-details a:hover .text-top {
  transform: translateY(-100%);
  opacity: 0;
}
.contact-details a:hover .text-bottom {
  transform: translateY(0);
  opacity: 1;
}
.contact-details .contact-footer {
  display: flex;
  font-family: "PPFragment-GlareRegular", sans-serif;
  letter-spacing: -10px;
  font-weight: 500;
  font-size: 38rem;
  align-items: flex-end;
  justify-content: center;
  align-content: flex-end;
  flex-wrap: wrap;
  line-height: 1;
  overflow: hidden;
  padding: 200px 0 0;
}
@media (max-width: 1699px) {
  .contact-details .contact-footer {
    font-size: 33rem;
  }
}
@media (max-width: 1599px) {
  .contact-details .contact-footer {
    font-size: 30rem;
  }
}
@media (max-width: 1499px) {
  .contact-details .contact-footer {
    font-size: 29rem;
  }
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .contact-details .contact-footer {
    font-size: 28rem;
    padding: 300px 0 0;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .contact-details .contact-footer {
    font-size: 20rem;
    padding: 300px 0 0;
  }
}
@media (max-width: 599px) {
  .contact-details .contact-footer {
    font-size: 12rem;
    padding: 350px 0 0;
  }
}
@media (max-width: 550px) {
  .contact-details .contact-footer {
    font-size: 10rem;
  }
}
@media (max-width: 499px) {
  .contact-details .contact-footer {
    font-size: 8rem;
    padding: 250px 0 0;
  }
}

.sectionSwiper {
  width: 100%;
  height: 100%;
}
.sectionSwiper .swiper-slide {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* 공통 스타일 */
a {
  text-decoration: none;
  display: block;
  transition: color 0.3s ease;
}

#header {
  position: relative;
  top: 0;
  z-index: 100;
  width: 100%;
  background: #111111;
  transition: background 0.3s ease;
}
#header .inner {
  height: 80px;
  transition: height 0.3s ease;
}
#header .inner h1 a p {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  #header .inner h1 a p {
    font-size: 1.8rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  #header .inner h1 a p {
    font-size: 1.6rem;
  }
}
@media (max-width: 599px) {
  #header .inner h1 a p {
    font-size: 1.4rem;
  }
}
#header .inner .header-wrapper {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnb {
  display: flex;
}
.gnb > li {
  position: relative;
  overflow: hidden;
  margin-left: 5.5rem;
}
@media (min-width: 600px) and (max-width: 999px) {
  .gnb > li {
    margin-left: 3rem;
  }
}
@media (max-width: 599px) {
  .gnb > li {
    margin-left: 1rem;
  }
}
.gnb > li .text-wrapper {
  display: inline-flex;
  height: 40px;
  width: fit-content;
  overflow: hidden;
  position: relative;
}
.gnb > li .text-top a,
.gnb > li .text-bottom a {
  display: inline-block;
  line-height: 40px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: end;
  color: #fff;
  white-space: nowrap;
}
@media (min-width: 1000px) and (max-width: 1399px) {
  .gnb > li .text-top a,
  .gnb > li .text-bottom a {
    font-size: 1.4rem;
  }
}
@media (min-width: 600px) and (max-width: 999px) {
  .gnb > li .text-top a,
  .gnb > li .text-bottom a {
    font-size: 1.4rem;
  }
}
@media (max-width: 599px) {
  .gnb > li .text-top a,
  .gnb > li .text-bottom a {
    font-size: 1.2rem;
    line-height: 45px;
  }
}
.gnb > li .text-top,
.gnb > li .text-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.gnb > li .text-top {
  transform: translateY(0);
  opacity: 1;
}
.gnb > li .text-bottom {
  transform: translateY(100%);
  opacity: 0;
}
.gnb > li:hover .text-top {
  transform: translateY(-100%);
  opacity: 0;
}
.gnb > li:hover .text-bottom {
  transform: translateY(0);
  opacity: 1;
}/*# sourceMappingURL=styles.css.map */