/* 공통 스타일 */
$transition-ease: 0.3s ease;

a {
  text-decoration: none;
  display: block;
  transition: color $transition-ease;
}

#header {
  position: relative;
  top: 0;
  z-index: 100;
  width: 100%;
  background: $gray-90;
  transition: background $transition-ease;

  .inner {
    height: $hdH;
    transition: height $transition-ease;

    h1 {
      a {
        p {
          font-size: 2rem;
          font-weight: bold;
          color: $white;
          letter-spacing: 2px;
        }
      }
    }

    .header-wrapper {
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.gnb {
  display: flex;

  > li {
    position: relative;
    overflow: hidden;
    margin-left: 5.5rem;

    .text-wrapper {
      display: inline-flex;
      height: 40px;
      width: fit-content;
      overflow: hidden;
      position: relative;
    }

    .text-top a,
    .text-bottom a {
      display: inline-block;
      line-height: 40px;
      font-size: 1.6rem;
      font-weight: 500;
      text-align: end;
      color: $white;
      white-space: nowrap;
    }

    .text-top,
    .text-bottom {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      display: flex;
      align-items: center;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .text-top {
      transform: translateY(0);
      opacity: 1;
    }

    .text-bottom {
      transform: translateY(100%);
      opacity: 0;
    }

    &:hover .text-top {
      transform: translateY(-100%);
      opacity: 0;
    }

    &:hover .text-bottom {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
