// 메인 페이지 스타일

.inner {
  position: relative;
  width: 100%;
  max-width: $grid;
  margin: 0 auto;
  padding: 0 $p-mobile;

  @include md-only {
    padding: 0 $p-tablet;
  }

  @include lg-only {
    padding: 0 $p-laptop;
  }

  @include xl-up {
    padding: 0 $p-desktop;
  }
}

// intro-wrapper
.intro-wrapper {
  position: relative;
  overflow: hidden;

  &.open {
    .left-door {
      transform: translateX(-100%) !important;
      background-color: $primary;
    }
    .right-door {
      transform: translateX(100%) !important;
      background-color: $primary;
    }
    .intro {
      opacity: 1;
    }
  }

  .door {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50vw;
    background: #111;
    z-index: 1500;
    transition: transform 1.5s ease;

    &.left-door {
      left: 0;
      transform-origin: left center;
      transform: translateX(0);
    }

    &.right-door {
      right: 0;
      transform-origin: right center;
      transform: translateX(0);
    }
  }
}

// intro 섹션
.intro {
  opacity: 0;
  transition: opacity 1s ease 1.5s;

  .intro-content {
    display: flex;
    // transform: translateY(130%);
    padding: 40rem 0 0;

    @include lg-only {
      // transform: translateY(200%);
      padding: 45rem 0 0;
    }

    @include md-only {
      padding: 47rem 0 0;
    }

    @include sm-only {
      padding: 60rem 0 0;
    }
  }

  .title-wrap {
    h2 {
      color: $primary;
      font-size: 35rem;
      font-family: $font-family-title;
      font-weight: 500;
      line-height: 1;
      overflow: hidden;
      letter-spacing: -5px;

      @include lg-only {
        font-size: 28rem;
      }

      @include md-only {
        font-size: 23rem;
      }

      @include sm-only {
        font-size: 10rem;
      }
    }
  }

  .content-wrap {
    transform: translateY(-20px) translateX(60px);

    @include sm-only {
      transform: translateY(-20px) translateX(20px);
    }

    h3 {
      font-size: 6rem;
      color: $white;
      opacity: 0;
      transform: translateY(30px);

      @include lg-only {
        font-size: 4.6rem;
      }

      @include md-only {
        font-size: 4rem;
      }

      @include sm-only {
        font-size: 3rem;
      }
    }

    p {
      font-size: 1.6rem;
      color: $primary;
      opacity: 0;
      transform: translateY(20px);

      @include sm-only {
        font-size: 1.3rem;
      }
    }
  }
}

// hero 섹션
.hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;

  h2 {
    font-size: 20rem;
    font-family: $font-family-title;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -10px;
    transform: translateY(20px);

    @include lg-only {
      font-size: 15rem;
      line-height: 1.5;
    }

    @include md-only {
      font-size: 10rem;
    }

    @include sm-only {
      font-size: 6rem;
      line-height: 1.8;
    }
  }

  .hero-title {
    display: flex;
  }

  .hero-subtitle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .hero-line {
      width: 700px;
      height: 140px;
      background: $gray-90;
      transition: all 1.2s cubic-bezier(0.4, 0, 0.2, 1);
      position: relative;
      z-index: 60;

      @include md-only {
        height: 100px;
      }

      @include sm-only {
        height: 50px;
      }
    }
  }

  .hero-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @include lg-only {
      justify-content: space-around;
    }

    @include md-only {
      justify-content: space-between;
    }

    @include sm-only {
      justify-content: center;
    }

    .hero-highlight {
      transform: translateX(30px);
    }

    .hero-description {
      @include xl-only {
        transform: translateX(-80px) translateY(-40px);
      }

      @include lg-only {
        font-size: 1.5rem;
      }

      @include md-only {
        font-size: 1.3rem;
      }

      @include sm-only {
        display: none;
      }
    }
  }
}

// about 섹션
.about {
  .about-title {
    h2 {
      font-family: $font-family-title;
      font-weight: 500;
      color: $primary;
      font-size: 13rem;
      line-height: 270px;

      @include lg-only {
        font-size: 11rem;
      }

      @include md-only {
        font-size: 9rem;
      }

      @include sm-only {
        font-size: 5rem;
      }
    }
  }

  .about-content {
    display: flex;
    justify-content: space-around;

    .profile-image {
      width: auto;
      height: 560px;
    }

    .about-info {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      column-gap: 100px;
      margin-top: 50px;

      h3 {
        font-size: 2.3rem;
        color: $primary;
        margin-bottom: 20px;
      }

      .profile-info,
      .education-info,
      .license-info {
        .info-item {
          display: flex;
          border-bottom: 1px solid $gray-80;
          justify-content: space-between;
          align-items: center;

          .info-label {
            font-size: 1.6rem;
            color: $gray-60;
            margin-right: 30px;
          }
          .info-value {
            font-size: 1.8rem;
            color: $gray-10;
          }
        }
      }
      .skills-info {
        .skills-list {
          margin-bottom: 10px;
        }
        .skills-list,
        .skills-list2 {
          display: flex;
        }

        img {
          display: block;
          margin-right: 10px;
        }

        .skill-icon {
          position: relative;
          cursor: pointer;

          &:hover .icon-color {
            opacity: 1;
          }

          &:hover .icon-dark {
            opacity: 0;
          }
        }

        .icon-color,
        .icon-dark {
          transition: opacity 0.3s ease;
        }

        .icon-color {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }
      }
    }
  }
}

// skills 섹션
.skills {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;

  .skills-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    height: 100vh;
  }

  .section-title {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: $font-family-title;
    font-weight: 500;
    color: $gray-90;
    font-size: 13rem;
    line-height: 270px;

    @include lg-only {
      font-size: 11rem;
    }

    @include md-only {
      font-size: 9rem;
    }

    @include sm-only {
      font-size: 5rem;
    }
  }

  .fade {
    position: absolute;
    left: 0;
    width: 100%;
    height: 120px;
    pointer-events: none;
    z-index: 10;

    &.fade-top {
      top: 0;
      background: linear-gradient(to bottom, $primary 0%, rgba($primary, 0.8) 60%, rgba($primary, 0) 100%);
    }

    &.fade-bottom {
      bottom: 0;
      background: linear-gradient(to top, $primary 0%, rgba($primary, 0.8) 60%, rgba($primary, 0) 100%);
    }
  }

  .skills-list {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    gap: 20px 40px;

    .skill-item,
    .skill-item2,
    .skill-item3 {
      display: flex;
      flex-direction: column;

      .skill-chart {
        position: relative;
        background-color: $gray-90;
        width: 280px;
        height: 260px;
        margin-bottom: 30px;
        border-radius: 10px;
        color: $gray-0;

        svg {
          width: 150px;
          height: 150px;
          @include posXY;

          circle {
            width: 100%;
            height: 100%;
            fill: none;
            stroke-width: 10;
            stroke: rgba(255, 255, 255, 0.1);
            transform: translate(5px, 5px);
            stroke-linecap: round;
          }
        }

        .skill-percentage {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, 230%);

          h2 {
            font-size: 2.5rem;
          }
          span {
            font-size: 1.5rem;
          }
        }

        .skill-name {
          @include posXY;
          font-size: 3rem;
          font-weight: bold;
          text-align: center;
        }
      }
    }

    .skill-item,
    .skill-item2,
    .skill-item3 {
      .skill-chart {
        circle:nth-child(2) {
          stroke: yellow;
          stroke-dasharray: 440px;
          stroke-dashoffset: 440px;
        }

        &.percent-90 circle:nth-child(2) {
          stroke-dashoffset: calc(440px - (440px * 90) / 100);
        }
        &.percent-70 circle:nth-child(2) {
          stroke-dashoffset: calc(440px - (440px * 70) / 100);
        }
        &.percent-65 circle:nth-child(2) {
          stroke-dashoffset: calc(440px - (440px * 65) / 100);
        }
        &.percent-75 circle:nth-child(2) {
          stroke-dashoffset: calc(440px - (440px * 75) / 100);
        }
      }
    }
    .skill-item,
    .skill-item3 {
      animation: skill-item 40s linear infinite;
    }
    .skill-item2 {
      animation: skill-item2 40s linear infinite;
    }

    @keyframes skill-item {
      from {
        transform: translateY(0%);
      }
      to {
        transform: translateY(-50%);
      }
    }

    @keyframes skill-item2 {
      from {
        transform: translateY(-50%);
      }
      to {
        transform: translateY(0%);
      }
    }
  }
}

//about-motion 섹션
.about-motion {
  background: #fff;
  padding: 10rem 2rem;
  text-align: center;
  perspective: 1000px;

  .about-motion-title h2 {
    display: inline-block;
    font-family: $font-family-title;
    font-size: 9rem;
    font-weight: bold;
    line-height: 1.8;

    @include lg-only {
      font-size: 7rem;
    }
    @include sm-only {
      font-size: 5rem;
    }
  }

  .letter {
    display: inline-block;
    opacity: 0;
    transform: translateZ(-1500px) scale(0.1) rotateY(0deg);
    transform-origin: center center;
    will-change: transform, opacity;
    transform-style: preserve-3d;
  }
}

.gucci {
  background-size: cover;
  background-position: center;
}

.bokjak,
.popmart,
.hanatour {
  background-size: 90%;
  background-position: center;
}

// bokjak, popmart, gucci, hanatour 섹션 <공통스타일>
.bokjak,
.popmart,
.gucci,
.hanatour {
  color: $gray-0;
  padding: 100px 0;

  .inner {
    display: flex;
    justify-content: space-between;
  }
  .project-description {
    padding-top: 250px;

    .project-type {
      font-size: 2.3rem;
      font-weight: 400;
    }
    .project-title {
      font-family: $font-family-title;
      letter-spacing: -5px;
      font-size: 10rem;
      font-weight: 500;
    }

    .contribution {
      font-size: 2.5rem;
      margin-bottom: 10px;

      span {
        font-size: 3rem;
      }
    }

    .project-summary {
      width: 60%;
      margin-bottom: 30px;
    }

    .view-project-button {
      display: inline-block;
      color: $gray-0;
      margin-bottom: 20px;

      &:hover {
        color: yellow;

        span {
          border: 2px solid yellow;
        }
      }

      span {
        border: 2px solid $gray-0;
        padding: 5px 20px;
        border-radius: 40px;
        font-size: 3rem;
      }
    }

    .renewal {
      color: red;

      &:hover {
        color: yellow;

        span {
          border: 2px solid yellow;
        }
      }
      p {
        display: inline;
        color: $gray-0;
      }
    }
  }
  .project-progress {
    span {
      font-size: 3.5rem;
      .point {
        font-size: 5rem;
      }
    }
  }
}

// project-sections
.project-sections {
  position: relative;

  // bokjak 섹션
  .bokjak {
    background-image: url("../../images/component/project/bokjak.png");
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, transparent 15%, transparent 85%, rgba(0, 0, 0, 0.8) 100%);
      pointer-events: none;
    }
  }

  // popmart 섹션
  .popmart {
    background-image: url("../../images/component/project/popmart.png");
    z-index: 3;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, transparent 15%);
      pointer-events: none;
    }
  }

  // gucci 섹션
  .gucci {
    background-image: url("../../images/component/project/gucci.png");
    z-index: 4;
  }

  // hanatour 섹션
  .hanatour {
    background-image: url("../../images/component/project/hanatour.png");
    z-index: 5;
  }
  .bokjak,
  .popmart,
  .gucci,
  .hanatour {
    position: sticky;
    top: 0;
  }
}

// contact-intro 섹션
.contact-intro {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 50;
  transition: opacity 0.5s ease;
  opacity: 1;

  .contact-img-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: transform 2s ease;
  }

  .contact-img-wrapper.opened {
    pointer-events: none;
  }

  .contact-img,
  .me-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    transform: translateY(0);
    transition: transform 2s ease;
  }

  .contact-img-wrapper.split {
    .contact-img {
      transform: translateY(-100%);
      transition: transform 2s ease;
    }

    .me-img {
      transform: translateY(100%);
      transition: transform 2s ease;
    }
  }
}

.contact-intro.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

// contact-details 섹션
.contact-details {
  position: relative;
  z-index: 1;
  color: $gray-0;

  .contact-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 50px;

    .contact-direct {
      .contact-thanks {
        margin-top: 30px;
        font-size: 4.5rem;
        font-weight: 400;
        line-height: 0.8;
      }
      .contact-message {
        font-size: 4.5rem;
        font-weight: 400;
      }
    }
    .contact-info {
      width: 35%;
      margin-top: 30px;

      .info-item {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $gray-70;
        margin-bottom: 10px;

        .info-label {
          font-size: 2.6rem;
          color: $gray-60;
        }
        .info-value {
          font-size: 2.8rem;
        }
      }
    }
  }

  a {
    position: relative;
    display: flex;
    color: yellow;
    font-size: 3rem;

    .text-wrapper {
      position: relative;
      display: inline-block;
      flex-direction: column;
      align-items: center;
      height: 100%;
      pointer-events: none;
    }

    .text-top,
    .text-bottom {
      position: absolute;
      left: 0;
      width: 100%;
      display: flex;
      align-items: center;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      pointer-events: auto;
    }

    .text-top {
      transform: translateY(0);
      opacity: 1;
    }

    .text-bottom {
      transform: translateY(100%);
      opacity: 0;
    }

    &:hover {
      .text-top {
        transform: translateY(-100%);
        opacity: 0;
      }

      .text-bottom {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

  .contact-footer {
    display: flex;
    font-family: $font-family-title;
    letter-spacing: -10px;
    font-weight: 500;
    font-size: 38rem;
    align-items: flex-end;
    justify-content: center;
    align-content: flex-end;
    flex-wrap: wrap;
    line-height: 1;
    overflow: hidden;
    padding: 200px 0 0;
  }
}
